Predicates: rain sprinkler before 
Variables: t20 t0 t10 
Constants: B C A D 
Functions: 
Clauses:
!rain(t0) !sprinkler(t0) 
!sprinkler(t20) !rain(t10) !before(t10,t20) 
rain(A) 
before(C,D) 
sprinkler(A) sprinkler(B) 
before(A,B) 
before(B,C) 
!rain(D) 
rain(B) 
!rain(C) 
